#main {
/*    float:left;
*/    width: 550px;
}

#page .banner h1 a {
  text-decoration:none;
  color:black;
}

#main h3 {
  margin-top: 30px;
}

#main h3 a {
  text-decoration:none;
  color:black;
}

#sidebar {
    font-size: 0.9em;
    float:right;
    width: 30%;
}

#sidebar ul {
    padding-left:15px;
}

#sidebar li {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
}


#license {
    clear:both;
}

.excerpt {
}

.meta {
    display: block;
    border-top: 1px solid #CCC;
    color: #CCC;
}

.footnote {
    font-size:0.8em;
}