<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Superfeedr : {{ page.title }} </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="http://superfeedr.com/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://superfeedr.com/stylesheets/shjs/sh_nedit.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/blog.css" />
</head>
<body>
    <div id="navigation">
        <div>
            <a href="http://superfeedr.com/" class="home"><img alt="Superfeedr" src="http://superfeedr.com/images/superfeedr.png" /> Superfeedr</a>
            <a href="http://superfeedr.com/documentation">Docs</a>
            <a href="http://superfeedr.com/about">About</a>
        </div>
    </div>
    <div id="user-navigation">
        <div>&nbsp;</div>
    </div>

    <div id="page">
        {{ content }}

        <div id="bottom">
            <a href="http://superfeedr.com">Home</a> |
            <a href="http://superfeedr.com/documentation">Documentation</a> |
            <a href="http://groups.google.com/group/superfeedr/web/frequently-asked-questions">Faq</a> |
            <a href="http://groups.google.com/group/superfeedr">Community</a> |
            <a href="http://superfeedr.com/about">About</a>
        </div>
    </div>

    <!-- Google Analytics Code -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    <!--//--><![CDATA[//><!--
    var pageTracker = _gat._getTracker('UA-9285763-1');
    pageTracker._setDomainName("superfeedr.com");
    pageTracker._initData();
    pageTracker._trackPageview();
    //--><!]]>
    </script>
</body>
</html>

