---
layout: default
---
<div id="post">
    <h2>{{page.title}}</h2>
    <div style="color:#666; font-size:0.9em; margin-bottom: 20px"><img style="float:left; margin: -2px 3px 3px 0px" src="http://www.gravatar.com/avatar/{{page.author_email_md5}}?s=20" >By <a href="{{ page.author_uri}}">{{ page.author_name }}</a>, on {{ page.date | date_to_string }}</div>
{{ content }}
</div>

<small class="meta">{% for t in page.categories %}
  <a href='http://www.google.com/search?q={{ t | escape }}+site:blog.superfeedr.com'>{{ t }}</a>{% if forloop.last == false %}, {% endif %}
  {% endfor %} 
</small>

<br />

<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=fadf5fa4-58b2-47d0-a42b-62a8c6959ba2&amp;type=website&amp;style=rotate"></script>

<div id="comments">
    <h2>Comments</h2>
    <div id="disqus_thread">
    </div>
    <script type="text/javascript" src="http://disqus.com/forums/superfeedr-thoughts/embed.js"></script>
    <noscript>
        <a href="http://superfeedr-thoughts.disqus.com/?url=ref">View the discussion thread.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>